<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
        <meta name="screen-orientation" content="portrait"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <meta name="full-screen" content="yes">
        <meta name="x5-fullscreen" content="true">
        <title>来也</title>
    <link href="http://www.bg-iddi.com/public/static/css/app.css" rel="stylesheet"></head>
    <body class="flat-blue">
        <div class="app-container expanded">
            <div class="row content-container" id="app">
                <router-view></router-view>
            </div>
        </div>
    <script type="text/javascript" src="http://www.bg-iddi.com/public/static/js/manifest.js"></script><script type="text/javascript" src="http://www.bg-iddi.com/public/static/js/vendor.js"></script><script type="text/javascript" src="http://www.bg-iddi.com/public/static/js/app.js"></script></body>
</html>
